@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}

@font-face {
    font-family: 'Simple-Line-Icons';
    src: url('../fonts/Simple-Line-Icons.eot');
    src: url('../fonts/Simple-Line-Icons.eot') format('embedded-opentype'),
    url('../fonts/Simple-Line-Icons.woff') format('woff'),
    url('../fonts/Simple-Line-Icons.ttf') format('truetype'),
    url('../fonts/Simple-Line-Icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Historic';
    src: local('Arial');
    unicode-range: U+530-5f4, U+10a0-10ff
}

@font-face {
    font-family: 'Segoe UI Historic';
    font-weight: 700;
    src: local('Arial Bold'), local('Arial');
    unicode-range: U+530-5f4, U+10a0-10ff
}