.fbcommentscontainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.fbConnectWidgetFooter {
    bottom: 0;
    cursor: default;
    position: absolute;
    width: 100%
}

.fbConnectWidgetFooter .fbFooterBorder {
    border-top: 1px solid #ccc;
    margin: 0 6px;
    padding: 4px 3px
}

.DOMControl_placeholder {
    color: #777
}

.fbFeedbackContent {
    -webkit-text-size-adjust: none;
    min-height: 160px
}

.fbFeedbackContent .composerHider {
    border-bottom: 0 solid #ccc;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 9px 10px 7px
}

.fbFeedbackContent .composerHider .uiSelector {
    margin: -3px 1px
}

.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover {
    background-repeat: no-repeat;
    background-position: right -202px;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    margin: 0;
    outline: 0;
    padding: 2px 20px 2px 0
}

.fbFeedbackContent .indicator {
    float: left;
    margin: 10px 0 0 -45px;
    position: absolute
}

.fbFeedbackContent .postContent .action_links {
    margin-bottom: 8px;
    display: inline-block;
    align-items: center;
}

.dotpos {
    margin: 0 3px;
}

.fbFeedbackContent .postBlingBox {
    border: none;
    bottom: 1px;
    cursor: text;
    padding: 0;
    position: relative
}

.red.btn,.uiButton {
    text-decoration: none;
    text-align: center;
    cursor: pointer
}

.fbFeedbackContent .postBlingBox:hover {
    background-color: transparent;
    border: none
}

.fbFeedbackContent .fbFeedbackPosts {
    padding: 0 0 0 0;
}

.fbFeedbackContent .fbFeedbackPost {
    border: solid #e2e2e2;
    border-width: 1px 0 0;
    clear: both;
    padding-bottom: 0!important;
    padding-top: 10px
}

.fbFeedbackContent li.fbTopLevelComment:first-of-type {
    border-width: 0
}

.fbFeedbackContent li.fbTopLevelComment:last-of-type {
    margin-bottom: -5px
}

.fbFeedbackReplies .fbFeedbackPost {
    border-width: 0 0 1px;
    border-color: #e9e9e9
}

.postReplies {
    margin-top: 8px
}

.fbFeedbackPost {
    position: relative
}

.fbFeedbackPost .postContent {
    margin-top: 5px
}

.fbFeedbackPost .postText {
    color: #1a1a1a;
    line-height: 14px;
    /*margin: 0 28px 5px 0*/
}

.fbFeedbackPost .postActor {
    background-color: #ededed;
    margin-bottom: 8px;
    margin-right: 11px
}

.fbFeedbackContent .fbConnectWidgetFooter {
    position: static
}

.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder {
    margin: 5px 0 0
}

.fbTopLevelComment .fbFeedbackReplies .fbCommentReply {
    border-width: 1px 0 0
}

.UIImageBlock_Image .img {
    display: block;
    width: 100%!important;
    min-width: 50px;
}

.sp_comments {
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.fbcommentscontainer a {
    color: #3B5998!important
}

.UIImageBlock.clearfix {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.fbcommentscontainer li{
    list-style-type: none;
}